<!DOCTYPE html>
<html>
<head>
	<title>My Personal Page</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
	<header class="container">
		<h1 class="text-center">Welcome </h1>
	</header>
	
	<main class="container">
		<section>
			<h2>My Friends</h2>
			<ul class="list-unstyled row">
				<li class="col-md-4">
					<div class="card">
						<img class="card-img-top" src="./assets/68785.jpg" alt="Photo of friend 1">
						<div class="card-body">
							<h3 class="card-title">kgon</h3>
							<p class="card-text">Interests: hiking, reading, traveling</p>

							<button class="btn btn-secondary">Message</button>
						</div>
					</div>
				</li>
				<li class="col-md-4">
					<div class="card">
						<img class="card-img-top" src="./assets/68785.jpg">
						<div class="card-body">
							<h3 class="card-title">jfon</h3>
							<p class="card-text">Interests: photography, cooking, music</p>

							<button class="btn btn-secondary">Message</button>
						</div>
					</div>
				</li>
				<li class="col-md-4">
					<div class="card">
						<img class="card-img-top" src="./assets/68785.jpg" alt="Photo of friend 3">
						<div class="card-body">
							<h3 class="card-title">ghon</h3>
							<p class="card-text">Interests: painting, hiking, dancing</p>
						
							<button class="btn btn-secondary">Message</button>
						</div>
					</div>
				</li>
			</ul>
		</section>
		<section>
			<h2>people you may know</h2>
			<ul class="list-unstyled row">
				<li class="col-md-4">
					<div class="card">
						<img class="card-img-top" src="./assets/68785.jpg" alt="Photo of friend 1" height="10">
						<div class="card-body">
							<h3 class="card-title">Kuttu</h3>
							<p class="card-text">Interests: hiking, reading, traveling</p>
							<button class="btn btn-primary">Add Friend</button>
							
						</div>
					</div>
				</li>
				<li class="col-md-4">
					<div class="card">
						<img class="card-img-top" src="./assets/68785.jpg" alt="Photo of friend 2">
						<div class="card-body">
							<h3 class="card-title">Jttu</h3>
							<p class="card-text">Interests: photography, cooking, music</p>
							<button class="btn btn-primary">Add Friend</button>
							
						</div>
					</div>
				</li>
				<li class="col-md-4">
					<div class="card">
						<img class="card-img-top" src="./assets/68785.jpg" alt="Photo of friend 3">
						<div class="card-body">
							<h3 class="card-title">liyyi</h3>
							<p class="card-text">Interests: painting, hiking, dancing</p>
							<button class="btn btn-primary">Add Friend</button>
						</div>
					</div>
				</li>
			</ul>
		</section>
		
	</main>
	
	<footer class="container text-center">
		<p>&copy; 2023 My Personal Page</p>
	</footer>
	
	<!-- Bootstrap JavaScript -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
